* {
   font-family: /* 'Nunito', */ Roboto, system-ui, Tahoma, sans-serif;
   box-sizing: border-box;
 }
body {
   background-color: rgb(207, 173, 131);
   text-align: center;
}
.img{
   max-width: 600px;
   background-color: rgb(165 209 194);
   border-radius: 10px;
   padding: 10px;
   box-shadow:#171819 -8px 13px 12px 0px;
   max-width: 95%;
   max-height: 600px;
}
.btn1{
   border: 2px solid rgb(21, 188, 21);
   padding: 20px;
   border-radius: 15px;
   margin-top: 20px;
   cursor: pointer;
   background-color: antiquewhite;
   font-size: 20px;
   position: fixed;
   bottom: 20px;
   left: 50%;
   transform: translate(-130%);
}
.btn2{
   border: 2px solid rgb(21, 188, 21);
   padding: 20px;
   border-radius: 15px;
   margin-top: 20px;
   cursor: pointer;
   background-color: antiquewhite;
   font-size: 20px;
   position: fixed;
   bottom: 20px;
   left: 50%;
   transform: translate(30%);
}
.title{
   animation: port 4s;
   animation-iteration-count: infinite;
   animation-timing-function: cubic-bezier(0.58, 0.59, 0.2, 0.54);
   margin: 5px;
}

@keyframes port {
   0% {
   color: rgb(232, 200, 140);   }
   50% {
      color: rgb(243, 243, 7);
   }
   100% {
      color: rgb(232, 200, 140);
   }
 }

 
